User Show

<br/>
<p><%= @user.first %></p>
<p><%= @user.last %></p>
<p><%= @user.username %></p>
<p><%= @user.location %></p>
<p><%= @user.age %></p>
<p><%= @user.email %></p>

<%= link_to "edit", edit_user_registration_path%>
